/* Colors */

body,
main {
    background-color: #765674;
}

#logo,
header,
nav,
footer {
    background-color: #d0d8dc;
}

#quiz-container {
    background-color: #FAB061;
}


/* Special Margins & Paddings */

* {
    box-sizing: border-box;
    margin: 0;
}

/* Nav & Header */

.nav-container {
    width: 100%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    padding: 10px;
    color: #765674;
}

.nav-links {
    text-transform: uppercase;
    font-family: itim, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 0;
}

#logo {
    font-family: Kalam, sans-serif;
    font-weight: 700;
    font-size: 12vh;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    height: 14vh;
}

#logo1 {
    color: #da1b2b;
}

#logo2 {
    color: #5d8038;
}

/* Game Area */

main {
    display: flex;
    justify-content: center;
}

.start-screen,
.end-container {
    display: flex;
    flex-direction: column;
    background-color: #5d8038;
    font-family: Delius, sans-serif;
    margin-top: 10vh;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
}

.hide {
    display: none;
}

#restart,
#start-btn {
    padding: 5px;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #f9a03f;
    font-family: Itim, sans-serif;
    letter-spacing: 2px;
    display: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

#submit-btn {
    height: 50px;
    width: 80%;
    border: none;
    border-radius: 10px;
    color: #F3F5F6;
    background-color: #5d8038;
    font-family: Itim, sans-serif;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
}

#submit-btn:hover {
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#quiz-container {
    margin-top: 10vh;
    padding: 30px 0 10px 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#question,
.option-text {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Delius, sans-serif;
}

#question {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.option-text {
    padding: 10px 5px;
    font-size: 25px;
}

.options {
    height: 20px;
    width: 20px;
}

ul {
    list-style-type: none;
}

.fieldset {
    background-color: transparent;
    border: transparent;
}

/* @Media Queries */

@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav li {
        flex: 1 1 0;
    }
}